@charset "ISO-8859-1";

* {
	box-sizing: border-box;
}


h1 {
	text-align: center;
}

.red {
	color: red;
}

.centeredText {
	text-align: center
}

.bolderText {
	font-weight: bolder;
}

#formPortaria {
	position: relative;
	top: 3rem;
}

.panelGridAtbPortaria {
	position: relative;
	top: 0;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	align-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

#formPortaria\:blockui {
	border-radius: 50%;
	height: 6.25rem;
	width: 6.25rem;
	padding: 0;
	margin: 0;
}

img#formPortaria\:loading {
	border-radius: 50%;
	width: 100%;
}


#formPortaria\:cancelar {
	background: red;
	border: 1px solid red;
	width: 50%;
}

#formPortaria\:salvar {
	width: 50%;
}

#formPortaria\:cancelar:hover {
	background: #f44336;
	border: 1px solid #f44336;
}


#formPortaria\:buttonPanel{
	text-align: center;
}

.input {
	width: 96%;
}

.fontBolder {
	font-weight: bolder;
}

.container {
	position: relative;
	width: 0%;
	float: none;
}

#header {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: fit-content;
}

body .ui-button {
	background-color: #64a9a4;
	border: 1px solid #64a9a4;
}

.imageCentered {
	text-align: center;
}

@media only screen and (max-width: 600px) {
	
	#cadForm {
		position: relative;
		width: 100%;
		left: 0;
	}
	
	.panelGridAtbPortaria {
		position: relative;
		margin-top: 6%;
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		align-content: center;
	}
	
	#content {
		position: relative;
		bottom: 1%;
	}
	
	#formPortaria\:cancelar {
		background: red;
		border: 1px solid red;
		width: 100%;
		left: 0;
	}
	#formPortaria\:salvar {
		width: 100%;
	}
	/*#footer {
		position: relative;
		width: 100%;
		background-color: #64a9a4;
		margin-top: 16%;
		float: left;
		background-color: #64a9a4;
		color: white;
		background-color: #64a9a4;
	}*/
	
	
}

@media only screen and (max-width: 800px) {
	
	#cadForm {
		position: relative;
		width: 100%;
		margin-top: 0;
		left: 0;
	}
	
	.panelGridAtbPortaria {
		position: relative;
		margin-top: 6%;
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		align-content: center;
	}
	
	body .ui-selectonemenu-panel {
		width: inherit !important;
	}
	
	
	.container {
		position: relative;
	}
	
	/*#footer {
		position: relative;
		width: 100%;
		background-color: #64a9a4;
		height: fit-content;
		float: left;
		color: white;
		background-color: #64a9a4;
	}*/
	
	
	
}

@media only screen and (max-width: 1024px) {
	
	* {
		box-sizing: border-box !important;
	}
	
	html {
		height: 0px;
		width: 100%;
	}
	
	#cadForm {
		position: relative;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		margin-top: 0;
	}
	
	.panelGridAtbPortaria {
		position: relative;
		margin-top: 3%;
		top: 0;
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		align-content: center;
	}
	
	body .ui-selectonemenu-panel {
		width: auto;
	}
	
	
	
	/*#footer {
		position: relative;
		width: 100%;
		height: fit-content;
		float: left;
		color: white;
		background-color: #64a9a4;
	}*/
	
	
	
}