@charset "ISO-8859-1";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ffe3a7;
	background-image: url("../imagens/fundo.png");
	background-repeat: no-repeat;
	background-size: cover;
}


#message {
	position: relative;
	width: 100%;
}

#message-sub{
	width: 100%;
}

#message-static {
	width: 100%;
	text-align: center;
}


